body {
    overflow-x: hidden;
}

#heading {
    margin-bottom: 2%;
}

#form-div {
    margin-left: 2%;
}

.section {
    font-size: 90%;
    margin-left: 2%;
    margin-bottom: 5%;
    color: red;
}

.section-div {
    border: solid 1px !important;
    padding: 2%;
    border-radius: 5%;
    margin: 3.5%;
}

#menu {
    margin-left: 5%;
    margin-right: 5%;
}

.menu-item {

}

#table-box {
    margin: 2%;
}

#roll-call-table-box {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
#date-box {
    margin: 2%;
}
.table-glyph{
    margin-left: 2%;
    margin-right: 2%;
}
/*.glyphicon.glyphicon-user, .glyphicon.glyphicon-pencil, .glyphicon.glyphicon-remove, .glyphicon.glyphicon-road {
    font-size: 23px;
}*/

div {
    /*border: solid red 1px !important;*/
}