body {
    overflow-x: hidden;
}

#heading {
    margin-bottom: 2%;
}

#form-div {
    margin-left: 2%;
}

.section {
    font-size: 90%;
    margin-left: 2%;
    margin-bottom: 5%;
    color: red;
}

.section-div {
    border: solid 1px !important;
    padding: 2%;
    border-radius: 5%;
    margin: 3.5%;
}

#menu {
    margin-left: 5%;
    margin-right: 5%;
}

.menu-item {

}

#table-box {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

#roll-call-table-box {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
#date-box {
    margin: 2%;
}
#disc-table{
}
.disc-label{
    font-variant-caps: all-petite-caps;
}
div {
    /*border: solid red 1px !important;*/
}
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('http://localhost/Discipleship/ajax-loader.gif')
    50% 50%
    no-repeat;
}
.success-alert{
    display:    none;
    z-index:    1000;
    background-color: #1fa142;
    color: #ffffff;
    padding: 2%;
}